/* footer start */
footer{
    padding: 2rem 0;
    background-color: #d9d9d9;
}

footer div {
   text-align: center;
}

footer div a{
   color: rgb(29, 28, 28);
   text-decoration: none;
   font-weight: 600;
}

footer div a:hover{
   color: rgb(247, 111, 0);
   text-decoration: underline;
   font-weight: 600;
}

ul{
    list-style: none;
}

footer div ul,
footer div ul li{
   margin: 0;
   padding: 0;
   width: 157px;
   text-align: center;
   margin: auto;
}

footer img{
    width: 118.4px;
    margin: auto;
}

footer .container{
    text-align: center;
}
/* footer end */