.carousel{
    margin-top: 7.87rem;    
}

.carousel-item img{
    height: auto;
}

@media screen and (max-width: 767px) {
    .carousel-item img{
        height: 100%;
    }

    .carousel{
        margin-top: 3.7rem;    
    }
}

.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    background-color: #af7002 !important;
    opacity: .5;
    border-radius: 50%;
    /* border: 1px solid white; */
}

.carousel-indicators [data-bs-target].active{
    background-color: #af7002 !important;
    opacity: 1 !important;
}

.carousel-control-prev span, .carousel-control-next span{
    background-color: #574a35;
    border-radius: 50%;
    padding: 15px;
}