
/* bottom navber start*/
    .BottomNav{
        width: 100%;    
        background: black;
    }

    .BottomNav .container ul{
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;
    }

    .BottomNav .container ul li:not(:last-child) {
        border-right: 1px solid #ffa300;
        padding-right: 25px;
    }

    .active{
        color: #ffaa17  !important;
    }

    .BottomNav .container ul li a{
        line-height: 1;
        color: #ffa300 !important;
        font-size: 16px;
        font-weight: 600;
    }

    .BottomNav .container ul li:hover .nav-link{
        color: #fcf7ee !important;
        padding-bottom: 4px;
        border-bottom: 1px solid white;
    }

    @media screen and (max-width: 767px) {
        .BottomNav .container ul li:not(:last-child) {
            border: none;
        }
    }
/* bottom navber end*/

/* why affilates start */
.WhyAffilates{
    padding: 2rem 0;
    background-color: black;
    color: #ffa300;
    width: 100%;
}

.WhyAffilates h3{
    text-align: center;
}

.WhyAffilates p{
    text-align: justify;
    color: #cfcdc9;
    max-width: 700px;
    margin: auto;
    padding: 0  10px;
}
/* why affilates start */

/* COMMISSION start */
.COMMISSION{
    padding: 2rem 0;
}

.COMMISSION .container{
    margin: auto;
    padding: 0px;
}

.COMMISSION .h3Div{
    width: 250px;
    margin: auto;
    margin-bottom: 1.5rem !important; 
}

.COMMISSION h3{
    text-align: center;
    background-color: #ffa300;
    border-radius: 0 20px 0 20px;
    padding: 6px 12px;
    color: rgb(32 32 31);
    border: 1px solid rgb(173, 129, 87);
}

.COMMISSION ul{
    text-align: justcify;
    color: #494742;
    max-width: 100%;
    margin: auto;
    margin-top: 1rem;
    padding: 0 10px;
}

.COMMISSIONImg img{
    width: 100%;
    height: 320px;
    border-radius: 26px 0 26px 0;
}

@media screen and (max-width: 1023px) {
    .COMMISSIONImg img{
        display: none;
    }

    .COMMISSION ul{
        max-width: 700px;
        margin: auto;
        text-align: justify;
    }
}
/* COMMISSION end */

/* PRODUCTS start */
.PRODUCTS{
    padding: 2rem 0;
    background-color: black;
}

.PRODUCTS h3{
    text-align: center;
    background-color: #ffa300;
    padding: 10px 20px;
    color: rgb(14, 14, 14);
    margin-bottom: 0.8rem;
}

.PRODUCTS img{
    width: 100%;
    margin-bottom: 0.4rem;
    height: 342px;
    border: 1px solid #68583c;
}

.PRODUCTS img:hover{
    border: 2px solid #ffa200;
}

.PRODUCTS .img1 img{
    border-radius: 13% 0 13% 0;
}

.PRODUCTS .img2 img{
    border-radius: 0 13% 0 13%;
}

.ImageDiv{
    width: 90%;
    margin: auto;
    padding-top: 1rem;
}

.img1, .img2{
    padding: 0 2px;
}

.PRODUCTS .LoginBtn{
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    text-align: center;
    text-decoration: none;
    padding-top: 1.7rem;
}

.PRODUCTS .BtnA{
    outline: none;
    background-color: #ffa300;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
} 

.PRODUCTS .BtnA:hover{
    outline: none;
    background-color: #ffbf00;
    border: 1.5px solid #ffbf00;
    color: rgb(14, 14, 14);
}

@media screen and (max-width: 767px) {
    .PRODUCTS img{
        height: 150px;
    }
}
/* PRODUCTS end */

