.navbar-brand img{
    width: 118.4px;
    margin: 0;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 3px solid #ffa300;
}

/* top navber start*/
    .TopNav{
        justify-content: space-between;
        width: 100%;
        background-color: rgb(217 217 217);
    }

    .TopNav .container{
        padding: 0;
        margin: auto;
    }

    .navbar-brand{
        padding-top: 0; 
        padding-bottom: 0;
    }

    .TopNav .BtnA{
        outline: none;
        background-color: #ffa300;
        border: none;
        color: rgb(255, 255, 255);
        border-radius: 8px;
        padding: 6px 12px;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        margin-right: 5px;
    }

    .TopNav button{
        outline: none;
        background-color: #ffa300;
        border: none;
        color: rgb(255, 255, 255);
        border-radius: 8px;
        padding: 6px 12px;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
    }

    .TopNav .BtnA:hover{
        outline: none;
        background-color: #ffbf00;
        border: 1.5px solid #ffbf00;
        color: rgb(14, 14, 14);
    }

    .TopNav .BtnA:active{
        outline: none;
        border: none;
    }

    .LoginBtn{
        margin-top: 19px;
    }

    .navbar-toggler:focus{
        box-shadow: none;
        border: 1px solid black;
    }

    @media screen and (max-width: 767px) {
        .TopNav .BtnA {
            padding: 8px 6px;
            font-size: 9px;
            border-radius: 4px;
        }

        .LoginBtn {
            margin-top: 15px;
        }

        .navbar-toggler {
            margin-top: 8px !important;
        }

        .navbar-toggler-icon {
            width: 3em;
            height: 3em;
        }

        .navbar-brand img {
            width: 93.4px;
            margin: 0;
        }

        .TopNav button{
            border-radius: 5px;
            font-size: 10px;
        }
    }

    @media screen and (max-width: 352px) {
        .TopNav .BtnA {
            font-size: 8px;
        }
    }

    @media screen and (max-width: 372px) {
        .registation{
            display: none;
        }

        .TopNav .BtnA {
            font-size: 11px;
        }

        .LoginBtn {
            margin-top: 18px;
        }
    }
/* top navber end*/

/* bottom navber start*/
    .BottomNav{
        width: 100%;    
        background: black;
    }

    .BottomNav .container ul{
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;
    }

    .BottomNav .container ul li:not(:last-child) {
        border-right: 1px solid #ffa300;
        padding-right: 25px;
    }

    .active{
        color: #ffaa17  !important;
    }

    .BottomNav .container ul li a{
        line-height: 1;
        color: #ffa300 !important;
        font-size: 18px;
        font-weight: 600;
    }

    .BottomNav .container ul li:hover .nav-link{
        color: #fcf7ee !important;
        padding-bottom: 4px;
        border-bottom: 1px solid white;
    }

    @media screen and (max-width: 1023px) and (min-width: 768px) {
        .BottomNav .container ul li a{
            font-size: 15px;
        }
    }

    @media screen and (max-width: 767px) {
        .BottomNav .container ul li:not(:last-child) {
            border: none;
        }

        .BottomNav{
            padding-bottom: 0.1rem;
        }
    }
/* bottom navber end*/